@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.my-msg {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: #2196f3;
	width: 50%;
	border-radius: 12px;
	padding: 1%;
	color: white;
	margin: 1%;
	margin-left: 50%;
}

.your-msg {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #6d4c41;
	width: 50%;
	border-radius: 12px;
	padding: 1%;
	color: white;
	margin: 1%;
}
